In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[1]") \
                    .appName('sparkEx') \
                    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/26 20:59:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/26 20:59:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
df = spark.read.csv('/Users/shaytavor/Dropbox/Public/Knowledge Base/Spark/Data/USACities.csv', header = 'True', inferSchema = 'True')
df = df.drop('rank')

In [ ]:
# row_number example

In [14]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, rank, percent_rank, ntile
windowSpec  = Window.partitionBy("usps").orderBy("pop2021")

df.withColumn("row_number",row_number().over(windowSpec)) \
    .show(truncate=False)

+-----------+----+-------+-------+-------+----------+----------+
|name       |usps|pop2021|pop2010|growth |aland_sqmi|row_number|
+-----------+----+-------+-------+-------+----------+----------+
|Anchorage  |AK  |282958 |293321 |-0.0353|1706.8    |1         |
|Mobile     |AL  |186542 |194577 |-0.0413|139.465   |1         |
|Montgomery |AL  |197777 |205593 |-0.038 |159.882   |2         |
|Huntsville |AL  |205472 |180941 |0.1356 |214.363   |3         |
|Birmingham |AL  |207235 |212328 |-0.024 |146.076   |4         |
|Little Rock|AR  |196968 |193972 |0.0154 |119.992   |1         |
|Surprise   |AZ  |149558 |117643 |0.2713 |108.063   |1         |
|Peoria     |AZ  |183357 |154846 |0.1841 |175.989   |2         |
|Tempe      |AZ  |203923 |162323 |0.2563 |39.977    |3         |
|Glendale   |AZ  |257233 |226236 |0.137  |61.592    |4         |
|Gilbert    |AZ  |262514 |209493 |0.2531 |68.475    |5         |
|Scottsdale |AZ  |265249 |217638 |0.2188 |183.987   |6         |
|Chandler   |AZ  |269123 |236454 |0.1382 |65.124    |7         |
|Mesa       |AZ  |538146 |440993 |0.2203 |138.085   |8         |
|Tucson     |AZ  |554503 |527160 |0.0519 |238.014   |9         |
|Phoenix    |AZ  |1733630|1449040|0.1964 |517.673   |10        |
|Roseville  |CA  |146594 |119916 |0.2225 |44.079    |1         |
|Pomona     |CA  |151223 |149107 |0.0142 |22.982    |2         |
|Escondido  |CA  |151289 |144440 |0.0474 |37.314    |3         |
|Sunnyvale  |CA  |152495 |140462 |0.0857 |22.03     |4         |
+-----------+----+-------+-------+-------+----------+----------+
only showing top 20 rows

In [ ]:
# rank() example

In [10]:
df.withColumn("rank",rank().over(windowSpec)).show()

+-----------+----+-------+-------+-------+----------+----+
|       name|usps|pop2021|pop2010| growth|aland_sqmi|rank|
+-----------+----+-------+-------+-------+----------+----+
|  Anchorage|  AK| 282958| 293321|-0.0353|    1706.8|   1|
|     Mobile|  AL| 186542| 194577|-0.0413|   139.465|   1|
| Montgomery|  AL| 197777| 205593| -0.038|   159.882|   2|
| Huntsville|  AL| 205472| 180941| 0.1356|   214.363|   3|
| Birmingham|  AL| 207235| 212328| -0.024|   146.076|   4|
|Little Rock|  AR| 196968| 193972| 0.0154|   119.992|   1|
|   Surprise|  AZ| 149558| 117643| 0.2713|   108.063|   1|
|     Peoria|  AZ| 183357| 154846| 0.1841|   175.989|   2|
|      Tempe|  AZ| 203923| 162323| 0.2563|    39.977|   3|
|   Glendale|  AZ| 257233| 226236|  0.137|    61.592|   4|
|    Gilbert|  AZ| 262514| 209493| 0.2531|    68.475|   5|
| Scottsdale|  AZ| 265249| 217638| 0.2188|   183.987|   6|
|   Chandler|  AZ| 269123| 236454| 0.1382|    65.124|   7|
|       Mesa|  AZ| 538146| 440993| 0.2203|   138.085|   8|
|     Tucson|  AZ| 554503| 527160| 0.0519|   238.014|   9|
|    Phoenix|  AZ|1733630|1449040| 0.1964|   517.673|  10|
|  Roseville|  CA| 146594| 119916| 0.2225|    44.079|   1|
|     Pomona|  CA| 151223| 149107| 0.0142|    22.982|   2|
|  Escondido|  CA| 151289| 144440| 0.0474|    37.314|   3|
|  Sunnyvale|  CA| 152495| 140462| 0.0857|     22.03|   4|
+-----------+----+-------+-------+-------+----------+----+
only showing top 20 rows

In [12]:
df.withColumn("percent_rank",percent_rank().over(windowSpec)).show()

+-----------+----+-------+-------+-------+----------+-------------------+
|       name|usps|pop2021|pop2010| growth|aland_sqmi|       percent_rank|
+-----------+----+-------+-------+-------+----------+-------------------+
|  Anchorage|  AK| 282958| 293321|-0.0353|    1706.8|                0.0|
|     Mobile|  AL| 186542| 194577|-0.0413|   139.465|                0.0|
| Montgomery|  AL| 197777| 205593| -0.038|   159.882| 0.3333333333333333|
| Huntsville|  AL| 205472| 180941| 0.1356|   214.363| 0.6666666666666666|
| Birmingham|  AL| 207235| 212328| -0.024|   146.076|                1.0|
|Little Rock|  AR| 196968| 193972| 0.0154|   119.992|                0.0|
|   Surprise|  AZ| 149558| 117643| 0.2713|   108.063|                0.0|
|     Peoria|  AZ| 183357| 154846| 0.1841|   175.989| 0.1111111111111111|
|      Tempe|  AZ| 203923| 162323| 0.2563|    39.977| 0.2222222222222222|
|   Glendale|  AZ| 257233| 226236|  0.137|    61.592| 0.3333333333333333|
|    Gilbert|  AZ| 262514| 209493| 0.2531|    68.475| 0.4444444444444444|
| Scottsdale|  AZ| 265249| 217638| 0.2188|   183.987| 0.5555555555555556|
|   Chandler|  AZ| 269123| 236454| 0.1382|    65.124| 0.6666666666666666|
|       Mesa|  AZ| 538146| 440993| 0.2203|   138.085| 0.7777777777777778|
|     Tucson|  AZ| 554503| 527160| 0.0519|   238.014| 0.8888888888888888|
|    Phoenix|  AZ|1733630|1449040| 0.1964|   517.673|                1.0|
|  Roseville|  CA| 146594| 119916| 0.2225|    44.079|                0.0|
|     Pomona|  CA| 151223| 149107| 0.0142|    22.982|0.02631578947368421|
|  Escondido|  CA| 151289| 144440| 0.0474|    37.314|0.05263157894736842|
|  Sunnyvale|  CA| 152495| 140462| 0.0857|     22.03|0.07894736842105263|
+-----------+----+-------+-------+-------+----------+-------------------+
only showing top 20 rows

In [15]:
df.withColumn("ntile",ntile(2).over(windowSpec)).show()

+-----------+----+-------+-------+-------+----------+-----+
|       name|usps|pop2021|pop2010| growth|aland_sqmi|ntile|
+-----------+----+-------+-------+-------+----------+-----+
|  Anchorage|  AK| 282958| 293321|-0.0353|    1706.8|    1|
|     Mobile|  AL| 186542| 194577|-0.0413|   139.465|    1|
| Montgomery|  AL| 197777| 205593| -0.038|   159.882|    1|
| Huntsville|  AL| 205472| 180941| 0.1356|   214.363|    2|
| Birmingham|  AL| 207235| 212328| -0.024|   146.076|    2|
|Little Rock|  AR| 196968| 193972| 0.0154|   119.992|    1|
|   Surprise|  AZ| 149558| 117643| 0.2713|   108.063|    1|
|     Peoria|  AZ| 183357| 154846| 0.1841|   175.989|    1|
|      Tempe|  AZ| 203923| 162323| 0.2563|    39.977|    1|
|   Glendale|  AZ| 257233| 226236|  0.137|    61.592|    1|
|    Gilbert|  AZ| 262514| 209493| 0.2531|    68.475|    1|
| Scottsdale|  AZ| 265249| 217638| 0.2188|   183.987|    2|
|   Chandler|  AZ| 269123| 236454| 0.1382|    65.124|    2|
|       Mesa|  AZ| 538146| 440993| 0.2203|   138.085|    2|
|     Tucson|  AZ| 554503| 527160| 0.0519|   238.014|    2|
|    Phoenix|  AZ|1733630|1449040| 0.1964|   517.673|    2|
|  Roseville|  CA| 146594| 119916| 0.2225|    44.079|    1|
|     Pomona|  CA| 151223| 149107| 0.0142|    22.982|    1|
|  Escondido|  CA| 151289| 144440| 0.0474|    37.314|    1|
|  Sunnyvale|  CA| 152495| 140462| 0.0857|     22.03|    1|
+-----------+----+-------+-------+-------+----------+-----+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import cume_dist, lag 
df.withColumn("cume_dist",cume_dist().over(windowSpec)).show()

+-----------+----+-------+-------+-------+----------+-------------------+
|       name|usps|pop2021|pop2010| growth|aland_sqmi|          cume_dist|
+-----------+----+-------+-------+-------+----------+-------------------+
|  Anchorage|  AK| 282958| 293321|-0.0353|    1706.8|                1.0|
|     Mobile|  AL| 186542| 194577|-0.0413|   139.465|               0.25|
| Montgomery|  AL| 197777| 205593| -0.038|   159.882|                0.5|
| Huntsville|  AL| 205472| 180941| 0.1356|   214.363|               0.75|
| Birmingham|  AL| 207235| 212328| -0.024|   146.076|                1.0|
|Little Rock|  AR| 196968| 193972| 0.0154|   119.992|                1.0|
|   Surprise|  AZ| 149558| 117643| 0.2713|   108.063|                0.1|
|     Peoria|  AZ| 183357| 154846| 0.1841|   175.989|                0.2|
|      Tempe|  AZ| 203923| 162323| 0.2563|    39.977|                0.3|
|   Glendale|  AZ| 257233| 226236|  0.137|    61.592|                0.4|
|    Gilbert|  AZ| 262514| 209493| 0.2531|    68.475|                0.5|
| Scottsdale|  AZ| 265249| 217638| 0.2188|   183.987|                0.6|
|   Chandler|  AZ| 269123| 236454| 0.1382|    65.124|                0.7|
|       Mesa|  AZ| 538146| 440993| 0.2203|   138.085|                0.8|
|     Tucson|  AZ| 554503| 527160| 0.0519|   238.014|                0.9|
|    Phoenix|  AZ|1733630|1449040| 0.1964|   517.673|                1.0|
|  Roseville|  CA| 146594| 119916| 0.2225|    44.079|0.02564102564102564|
|     Pomona|  CA| 151223| 149107| 0.0142|    22.982|0.05128205128205128|
|  Escondido|  CA| 151289| 144440| 0.0474|    37.314|0.07692307692307693|
|  Sunnyvale|  CA| 152495| 140462| 0.0857|     22.03|0.10256410256410256|
+-----------+----+-------+-------+-------+----------+-------------------+
only showing top 20 rows

In [18]:
df.withColumn("lag",lag("pop2021",2).over(windowSpec)).show()

+-----------+----+-------+-------+-------+----------+------+
|       name|usps|pop2021|pop2010| growth|aland_sqmi|   lag|
+-----------+----+-------+-------+-------+----------+------+
|  Anchorage|  AK| 282958| 293321|-0.0353|    1706.8|  NULL|
|     Mobile|  AL| 186542| 194577|-0.0413|   139.465|  NULL|
| Montgomery|  AL| 197777| 205593| -0.038|   159.882|  NULL|
| Huntsville|  AL| 205472| 180941| 0.1356|   214.363|186542|
| Birmingham|  AL| 207235| 212328| -0.024|   146.076|197777|
|Little Rock|  AR| 196968| 193972| 0.0154|   119.992|  NULL|
|   Surprise|  AZ| 149558| 117643| 0.2713|   108.063|  NULL|
|     Peoria|  AZ| 183357| 154846| 0.1841|   175.989|  NULL|
|      Tempe|  AZ| 203923| 162323| 0.2563|    39.977|149558|
|   Glendale|  AZ| 257233| 226236|  0.137|    61.592|183357|
|    Gilbert|  AZ| 262514| 209493| 0.2531|    68.475|203923|
| Scottsdale|  AZ| 265249| 217638| 0.2188|   183.987|257233|
|   Chandler|  AZ| 269123| 236454| 0.1382|    65.124|262514|
|       Mesa|  AZ| 538146| 440993| 0.2203|   138.085|265249|
|     Tucson|  AZ| 554503| 527160| 0.0519|   238.014|269123|
|    Phoenix|  AZ|1733630|1449040| 0.1964|   517.673|538146|
|  Roseville|  CA| 146594| 119916| 0.2225|    44.079|  NULL|
|     Pomona|  CA| 151223| 149107| 0.0142|    22.982|  NULL|
|  Escondido|  CA| 151289| 144440| 0.0474|    37.314|146594|
|  Sunnyvale|  CA| 152495| 140462| 0.0857|     22.03|151223|
+-----------+----+-------+-------+-------+----------+------+
only showing top 20 rows

In [20]:
from pyspark.sql.functions import col,avg,sum,min,max
windowSpecAgg  = Window.partitionBy("usps")
df.withColumn("row",row_number().over(windowSpec)) \
  .withColumn("avg", avg(col("pop2021")).over(windowSpecAgg)) \
  .withColumn("min", min(col("pop2021")).over(windowSpecAgg)) \
  .withColumn("max", max(col("pop2021")).over(windowSpecAgg)) \
  .where(col("row") == 1).select("usps", "avg", "min", "max").show()

+----+-----------------+------+-------+
|usps|              avg|   min|    max|
+----+-----------------+------+-------+
|  AK|         282958.0|282958| 282958|
|  AL|         199256.5|186542| 207235|
|  AR|         196968.0|196968| 196968|
|  AZ|         441723.6|149558|1733630|
|  CA|409410.5641025641|146594|3983540|
|  CO|351260.8333333333|145688| 749103|
|  CT|         143653.0|143653| 143653|
|  DC|         714153.0|714153| 714153|
|  FL|         298217.0|142445| 929647|
|  GA|        269080.25|153671| 524067|
|  HI|         341302.0|341302| 341302|
|  IA|         210723.0|210723| 210723|
|  ID|         229993.0|229993| 229993|
|  IL|         662781.0|144213|2679080|
|  IN|         581759.0|276286| 887232|
|  KS|        221863.75|142119| 391352|
|  KY|         470264.0|324604| 615924|
|  LA|        232375.75|142135| 388424|
|  MA|         344280.0|152160| 695506|
|  MD|         575584.0|575584| 575584|
+----+-----------------+------+-------+
only showing top 20 rows

In [ ]:
# moving average

In [22]:
data = [("2024-01-01", 100),
        ("2024-01-02", 150),
        ("2024-01-03", 200),
        ("2024-01-04", 50),
        ("2024-01-05", 120)]
dfTimeSeries = spark.createDataFrame(data, ["date", "sales"])
dfTimeSeries.show()

+----------+-----+
|      date|sales|
+----------+-----+
|2024-01-01|  100|
|2024-01-02|  150|
|2024-01-03|  200|
|2024-01-04|   50|
|2024-01-05|  120|
+----------+-----+

In [23]:
# create a window with 3 rows
windowSpec = Window.orderBy(col("date")).rowsBetween(-2, 0)

In [26]:
dfTimeSeries.withColumn("rolling_sum", sum("sales").over(windowSpec)) \
            .withColumn("rolling_avg", avg("sales").over(windowSpec)).show()

+----------+-----+-----------+------------------+
|      date|sales|rolling_sum|       rolling_avg|
+----------+-----+-----------+------------------+
|2024-01-01|  100|        100|             100.0|
|2024-01-02|  150|        250|             125.0|
|2024-01-03|  200|        450|             150.0|
|2024-01-04|   50|        400|133.33333333333334|
|2024-01-05|  120|        370|123.33333333333333|
+----------+-----+-----------+------------------+

24/03/26 23:38:36 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/26 23:38:36 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/26 23:38:36 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/26 23:38:37 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/26 23:38:37 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [30]:
from pyspark.sql.functions import window
data = [("2024-01-01 09:00:00", 100),
        ("2024-01-01 09:00:01", 150),
        ("2024-01-01 09:00:02", 200),
        ("2024-01-01 09:00:03", 50),
        ("2024-01-01 09:00:04", 120), 
        ("2024-01-01 09:00:05", 120)]
dfTimeSeries = spark.createDataFrame(data, ["date", "value"])

In [32]:
w = dfTimeSeries.groupBy(window("date", "3 seconds")).agg(sum("value").alias("sum"))
w.show()

+--------------------+---+
|              window|sum|
+--------------------+---+
|{2024-01-01 09:00...|290|
|{2024-01-01 09:00...|450|
+--------------------+---+

In [ ]:
# broadcast variable

In [36]:
from pyspark.sql.functions import col, udf
states = {"NY":"New York", "CA":"California", "FL":"Florida"}
broadcastStates = spark.sparkContext.broadcast(states)

In [37]:
def state_convert(code):
    return broadcastStates.value[code]

In [39]:
stateUDF = udf(lambda x : state_convert(x))
result = df.withColumn("state", stateUDF(df.usps))

In [ ]:
# accumulators

In [40]:
accum=spark.sparkContext.accumulator(0)
rdd=spark.sparkContext.parallelize([1,2,3,4,5])
rdd.foreach(lambda x:accum.add(x))
print(accum.value)

accuSum=spark.sparkContext.accumulator(0)
def countFun(x):
    global accuSum
    accuSum+=x
rdd.foreach(countFun)
print(accuSum.value)

accumCount=spark.sparkContext.accumulator(0)
rdd2=spark.sparkContext.parallelize([1,2,3,4,5])
rdd2.foreach(lambda x:accumCount.add(1))
print(accumCount.value)

15
15
5